<h1><%= @product.name %></h1>

<p> A picture will go here.</p>

<p> <%= @product.name %>, Price: $ <%= @product.formatted_price %> </p>
<p> <%= @product.description %> </p>




  <h3>Reviews</h3>

  <p>Reviews for <%= @product.name %></p>

  <div id="review-list">
   <%= render :partial => "reviews" %>
  </div>


  <h4>New Review</h4>

  <%= form_for([@product, @review], :remote => true) do |f| %>
    <div id="review-form-errors">
        <%= render :partial => "/products/review_form_errors" %>
      </div>

   </div>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


<%= link_to "Back to Products", products_path %>


<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("input[type='submit']") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
  });
</script>




